* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scene {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

body {
  font-family: "Inter var", sans-serif;
  color: white;
  background: #101010;
  user-select: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.textWithVideo {
  font-family: "Roboto";
}

.bg {
  background: black;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.fullscreen.notready {
  color: #606060;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #808080;
  padding: 40px;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
}

.menu.left {
  justify-content: flex-start;
}

.menu.right {
  justify-content: flex-end;
}

.menu > div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.menu > div b {
  font-weight: 600;
  color: #b0b0b0;
}

.clickToContinue {
  font-size: 2rem;
}
.fullscreen.ready > div {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.288);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.521);
  z-index: 0;
  text-emphasis: none;
  text-decoration: none;
  background: transparent;
  z-index: 50;
}
.clickToContinue:hover {
  border: 1px solid rgba(0, 255, 221, 0.664);
  color: rgba(0, 255, 221, 0.664);
  background: radial-gradient(
    rgba(0, 255, 221, 0.024),
    rgba(0, 255, 221, 0.084)
  );
  /* font-size: 1.3rem; */
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 31px -5px rgba(9, 237, 255, 0.35);
  -webkit-box-shadow: 0px 0px 31px -5px rgba(9, 237, 255, 0.35);
  -moz-box-shadow: 0px 0px 31px -5px rgba(9, 237, 255, 0.35);
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.menu a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  color: inherit;
}

.loadingLogo {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.logoPiece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20%;
  height: auto;
}
.loadingBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  /* color: #ffffff2a; */
}

.gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20%;
  height: 30%;
  /* background: radial-gradient(
    #ffffff2a,
    #ffffff1c,
    #e5ff000c,
    #000000,
    #000000,
    #000000
  ); */
  border-radius: 50%;
  background: radial-gradient(#ffffff6e, #ffffff1c, #ffffff11);
  box-shadow: 0 0 60px 30px #ffffff11,
    inset 0 0 100px 60px rgba(255, 0, 255, 0.05),
    0 0 100px 60px rgba(255, 0, 255, 0.05),
    0 0 140px 90px rgba(0, 255, 255, 0.05),
    0 0 1640px 190px rgba(0, 255, 255, 0.05),
    inset 0 0 140px 90px rgba(0, 255, 255, 0.05);
}
@media (max-width: 424px) {
  .logoPiece {
    width: 50%;
    height: auto;
  }
  .loadingBtn {
    font-size: 2rem;
  }
}
