.MOBILEfooter {
  width: 100%;
  background: black;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 10px solid var(--main);
}
.MOBILEfooterLogoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.MOBILEfooterLogoLink {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  margin-left: 0;
}
.MOBILEfooterMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.MOBILEfooterMenuTitle {
  color: var(--main);
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0;
}
.MOBILEfooterSocialTitle {
  color: var(--main);
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}
.MOBILEfooterLink {
  color: white;
  text-decoration: none;
}
.MOBILEfooterLink:hover {
  color: var(--main);
  text-decoration: none;
}
.MOBILEfooterSocialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 100%;
}
.MOBILEfooterLinkSocial {
  color: white;
  padding-left: 15px;
}
.MOBILEfooterMenu ul {
  padding-left: 0;
}
.MOBILEfooterLinkSocial > img {
  padding-left: 0;
}
@media (max-width: 768px) {
  .MOBILEfooterLink {
    font-size: 1.3rem;
  }
  .MOBILEfooterSocialLinks {
    font-size: 1.3rem;
  }
  .MOBILEstepsTitle {
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  .MOBILEfooterSocialLinks {
    flex-direction: column;
  }
  .MOBILEfooterLinkSocial > img {
    padding-left: 0;
  }
  .MOBILEfooter {
    padding-left: 0;
    padding-right: 0;
  }
  .MOBILEfooterMenuTitle,
  .MOBILEfooterSocialTitle {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .MOBILEfooterLink {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
