.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
}
body {
  width: 100vw;
  height: 100vh;
}
.app {
  width: 100%;
  height: 100vh;
  /* overflow-x: visible; */
  /* overflow-y: scroll; */
  background: white;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 700px) {
  .App {
    display: flex;
    position: unset;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.canvas {
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
